html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;

}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
    background-image: url(como-montar-uma-clinica-veterinaria.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    border-color: grey;

}

.header {
    background-color: white;
    min-height: 150px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;

}

.footer h4 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}

.footer div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.footer svg {
    width: 24px;
    height: 24px;
    fill: #333;
}

.footer i {
    font-style: normal;
    color: #555;
    font-size: 1rem;
}

.menu button {
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: aquamarine;

}

.menu a {
    text-decoration: none;
}

.menu ul {
    list-style: none;
}

.content table {
    display: flexbox;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;

}

.content table th {
    background-color: black;
    color: white;
    empty-cells: show;
}

table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

table tbody tr:hover td {
    background-color: cadetblue;
}